-extends "base.haml"
-load static
-load compress

-block head
  -compress css
    %link{rel: "stylesheet", href: "{% static 'css/new_thread.css' %}" }

-block content
  .panel.panel-primary#main-panel
    .panel-heading.carot
      %span.glyphicon.glyphicon-plus
      Créer un nouveau Sujet
    .panel-body

      %form{:action => '/forum/write/', :method => 'post'} {% csrf_token %}

        %script{'type':'text/javascript'} var visibility = "{{data.visibility}}"

        %div
          %label{:for => 'title'} Titre
          - for err in errors
            {% if err.field == 'title' %}
                  .alert.alert-danger{ :role => 'alert'}
                    %span.glyphicon.glyphicon-exclamation-sign{ :aria-hidden =>'true'}
                    %span Erreur: #{err.msg}
            {% endif %}
          %input.form-control#title-tf{:type => 'text', :name => 'title', :value => "#{data.title}" }

          #radiobtns
            %span.radio
                %label
                    %input#pvt-vis{'type':'radio', 'name':'visibility', 'value':'private', 'checked': true} Privé
            %span.radio
                %label
                    %input#class-vis{:type => 'radio', :value => 'class', :name => 'visibility'} Classe
            %span.radio
                %label
                    %input#public-vis{:type => 'radio', :value => 'public', :name => 'visibility'} Public

          %div#visibdata
            %label#visibdatalabel{:for => 'visibdata'} Destinataire
            - for err in errors
              {% if err.field == 'visibdata' %}
                    .alert.alert-danger{ :role => 'alert'}
                      %span.glyphicon.glyphicon-exclamation-sign{ :aria-hidden =>'true'}
                      %span Erreur: #{err.msg}
              {% endif %}
            %input.form-control{:type => 'text', :name => 'visibdata', :value => "#{data.visibdata}"}


          %div
            %label{:for => 'skills'} Compétences
            - for err in errors
              {% if err.field == 'skills' %}
                    .alert.alert-danger{ :role => 'alert'}
                      %span.glyphicon.glyphicon-exclamation-sign{ :aria-hidden =>'true'}
                      %span Erreur: #{err.msg}
              {% endif %}
            %input.form-control#skills-tf{:type => 'text', :name => 'skills', :value => "#{data.skills}"}

          %div
            %label{:for => 'content'} Message
            - for err in errors
              {% if err.field == 'content' %}
                    .alert.alert-danger{ :role => 'alert'}
                      %span.glyphicon.glyphicon-exclamation-sign{ :aria-hidden =>'true'}
                      %span Erreur: #{err.msg}
              {% endif %}
            %textarea.form-control#content{:rows => '8', :name => 'content'} #{data.content}

          .pull-right
            %button.btn.btn-lg.pull-right.carot#validb{:type => 'submit', :value => 'Submit'} Valider




-block javascript
  :javascript
    $(document).ready( function() {

      switch(visibility)
      {
        case 'private':
          $('#pvt-vis').attr('checked', true)
        break;
        case 'class':
          $('#class-vis').attr('checked', true)
        break;
        case 'public':
          $('#public-vis').attr('checked', true)
        break;
      }

      var changeLab = function () {

        if ($("#public-vis").is(":checked")) {
          $(visibdatalabel).text("Professeur")
        } else if ($("#pvt-vis").is(":checked")) {
          $(visibdatalabel).text("Destinataire")
        } else if ($("#class-vis").is(":checked")) {
            $(visibdatalabel).text("Classe")
        }
      }

      changeLab()

      $("#radiobtns").click(function() {
        changeLab()
      })
    })
